.align-sub {
  vertical-align: sub;
}

.ant-input:hover {
  border-right-width: 0px !important;
}

.dark {
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-right-width: 0px !important;
  }
}

.light-mode {
  .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
    border-right-width: 0px !important;
  }
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Bold.eot");
  src: local("/assets/fonts/avenir-next/Avenir Next Cyr Bold"),
    local("AvenirNextCyr-Bold"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Bold.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Bold.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Light.eot");
  src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Light.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Light.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Light.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Heavy.eot");
  src: local("Avenir Next Cyr Heavy"), local("AvenirNextCyr-Heavy"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Heavy.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Heavy.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Medium.eot");
  src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Medium.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Medium.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Demi.eot");
  src: local("Avenir Next Cyr Demi"), local("AvenirNextCyr-Demi"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Demi.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Demi.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Demi.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Cyr";
  src: url("/assets/fonts/avenir-next/AvenirNextCyr-Regular.eot");
  src: local("Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Regular.woff2") format("woff2"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Regular.woff") format("woff"),
    url("/assets/fonts/avenir-next/AvenirNextCyr-Regular.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local("TT Norms Pro Regular"),
    url("/assets/fonts/tt-norms/TT Norms Pro Regular.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: local("TT Norms Pro Light"),
    url("/assets/fonts/tt-norms/TT Norms Pro Light.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local("TT Norms Pro Medium"),
    url("/assets/fonts/tt-norms/TT Norms Pro Medium.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local("TT Norms Pro Bold"),
    url("/assets/fonts/tt-norms/TT Norms Pro Bold.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("TT Norms Pro ExtraBold"),
    url("/assets/fonts/tt-norms/TT Norms Pro ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("TT Norms Pro Black"),
    url("/assets/fonts/tt-norms/TT Norms Pro Black.woff") format("woff");
}

@font-face {
  font-family: "TT Norms Pro";
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
  src: local("TT Norms Pro ExtraBlack"),
    url("/assets/fonts/tt-norms/TT Norms Pro ExtraBlack.woff") format("woff");
}
