.align-sub {
  vertical-align: sub;
}

.dark {
  .ce-settings {
    position: absolute;
    background-color: rgb(37 38 43);
    border: 1px solid rgb(26 27 30);
    -webkit-box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    border-radius: 4px;
    z-index: 2;
  }

  .ce-toolbar {
    position: absolute;
    background-color: rgb(26 27 30);
    border: 1px solid #1d202b;
    -webkit-box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    box-shadow: 0 3px 15px -3px rgb(13 20 33 / 13%);
    border-radius: 4px;
    z-index: 2;
  }

  // svg {
  //   // fill: white;
  // }

  .ce-block--selected .ce-block__content {
    background: transparent !important;
  }

  .ce-code__textarea {
    background: #1a1b1e !important;
    color: white !important;
  }

  .codex-editor--narrow .ce-toolbox {
    background: #1a1b1e !important;
  }
}

div:focus {
  box-shadow: none !important;
}

a:focus {
  box-shadow: none !important;
}

span:focus {
  box-shadow: none !important;
}

.dark {
  color: white;

  .filepond--panel-root {
    color: white;
    font-weight: bold;
    background: transparent !important;
  }
}

.filepond--drop-label.filepond--drop-label label {
  padding: 0px !important;
}

.filepond--credits {
  display: none;
}

.dark {
  div[class*="cdx-"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
  }

  div[class*="ce-settings__"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
    :hover {
      background: #1a1b1e !important;
    }
  }

  div[class*="codex-editor--"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
  }

  div[class*="ce-toolbar__"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
  }

  span[class*="ce-toolbar__"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
  }

  span[class*="ce-toolbar__"] {
    background: #1a1b1e !important;
    color: white;
    svg {
      fill: lightgrey;
    }
  }

  span[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h1[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h2[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h3[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h4[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h5[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }

  h6[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }
  p[class*="cdx-"] {
    background: #1a1b1e !important;
    color: lightgrey;
  }
}
